body {
  margin: 0;
  display: flex;
  place-items: left;
  min-width: 220px;
  min-height: 100vh; 
}

th {
  width: 2020px;
}

td {
  padding: 5px;
  width: 6000px;
}

.time {
  height: 40px;
}

.CardContainer {
  display: flex;
  justify-content: space-between; /* Space the cards evenly within the row */
  width: 100%;
}

.Card {
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* Create a relative positioning context */
}

.CardImage {
  border: 3px solid #0c0c0c;
  width: 100%;
  position: relative; /* Create a positioning context for the button */
}

.CardImage img {
  margin: 0; /* Add this to reset margin */
  padding: 0; /* Add this to reset padding */
  max-width: 100%;
  height: auto;
}

.LinkButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust right to move it to the top-right corner */
}

.LinkButton {
  width: 50px;
  height: auto;
}
.LinkButtonContainer:hover .LinkButton {
  transform: scale(1.1); /* Increase the size by 10% */
}
.CardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card h5,
.Card h6 {
  margin: 0;
  line-height: 1.2;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide any overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

.Button {
  display: inline-block;
  width: 300px; /* Set a fixed width for the button */
  height: 30px; /* Set a fixed height for the button */
  background-color: #f5a1af;
  color: #161010;
  text-decoration: none;
  border: 2px solid #e29ba7;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 10px;
}



.pink {
  background: #ffc0cb;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
} 