#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 220px;
  min-height: 450vh; /* Increase the value to make the page longer */
}
